In [79]:
pip install sqlalchemy_utils

Collecting sqlalchemy_utils
  Downloading SQLAlchemy_Utils-0.37.9-py3-none-any.whl (100 kB)
Requirement already satisfied: SQLAlchemy>=1.0 in c:\users\pmw233\anaconda3\lib\site-packages (from sqlalchemy_utils) (1.4.7)
Requirement already satisfied: six in c:\users\pmw233\anaconda3\lib\site-packages (from sqlalchemy_utils) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pmw233\anaconda3\lib\site-packages (from SQLAlchemy>=1.0->sqlalchemy_utils) (1.0.0)
Installing collected packages: sqlalchemy-utils
Successfully installed sqlalchemy-utils-0.37.9
Note: you may need to restart the kernel to use updated packages.

In [80]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pprint
import psycopg2

In [40]:
# Import CSV files
csvfile = "DataFiles/SAEXP1.csv"
csvfile2 = "DataFiles/csvData.csv"
us_expenditures = pd.read_csv(csvfile)
state_abbr = pd.read_csv(csvfile2)

In [41]:
us_expenditures.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'],
      dtype='object')

In [54]:
# change year columns to row and keep only columns needed
us_expenditures_df = us_expenditures.melt(id_vars=['GeoFIPS', 'GeoName','Description'],value_vars=['1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019'], var_name="Year")
us_expenditures_df

,GeoFIPS,GeoName,Description,Year,value
0,"""00000""",United States,Personal consumption expenditures,1997,5534091.8
1,"""00000""",United States,Goods,1997,2003807.2
2,"""00000""",United States,Durable goods,1997,715529.6
3,"""00000""",United States,Motor vehicles and parts,1997,293082.5
4,"""00000""",United States,Furnishings and durable household equipment,1997,160490.2
...,...,...,...,...,...
33207,"""98000""",Far West,Less: Receipts from sales of goods and serv...,2019,236897.2
33208,Note: See the included footnote file.,NaN,NaN,2019,NaN
33209,SAEXP1: Total personal consumption expenditure...,NaN,NaN,2019,NaN
33210,"Last updated: October 8, 2020-- new PCE by sta...",NaN,NaN,2019,NaN
33211,Source: U.S. Department of Commerce / Bureau o...,NaN,NaN,2019,NaN

In [55]:
#remove quotes from GeoGIPS
us_expenditures_df['GeoFIPS']=us_expenditures_df['GeoFIPS'].str.replace('"','')

In [56]:
#remove NAN rows
us_expend = us_expenditures_df[us_expenditures_df['GeoName'].notna()]
us_expend

,GeoFIPS,GeoName,Description,Year,value
0,00000,United States,Personal consumption expenditures,1997,5534091.8
1,00000,United States,Goods,1997,2003807.2
2,00000,United States,Durable goods,1997,715529.6
3,00000,United States,Motor vehicles and parts,1997,293082.5
4,00000,United States,Furnishings and durable household equipment,1997,160490.2
...,...,...,...,...,...
33203,98000,Far West,Financial services and insurance,2019,210726.1
33204,98000,Far West,Other services,2019,220767.1
33205,98000,Far West,Final consumption expenditures of nonprofit ...,2019,88265.6
33206,98000,Far West,Gross output of nonprofit institutions,2019,325162.7
33207,98000,Far West,Less: Receipts from sales of goods and serv...,2019,236897.2

In [57]:
# rename columns
us_expenditures_final = us_expend.rename(columns ={'GeoFIPS':'geofips', 'GeoName':'geoname','Description':'description','Year':'year','value':'dollars'})
us_expenditures_final

,geofips,geoname,description,year,dollars
0,00000,United States,Personal consumption expenditures,1997,5534091.8
1,00000,United States,Goods,1997,2003807.2
2,00000,United States,Durable goods,1997,715529.6
3,00000,United States,Motor vehicles and parts,1997,293082.5
4,00000,United States,Furnishings and durable household equipment,1997,160490.2
...,...,...,...,...,...
33203,98000,Far West,Financial services and insurance,2019,210726.1
33204,98000,Far West,Other services,2019,220767.1
33205,98000,Far West,Final consumption expenditures of nonprofit ...,2019,88265.6
33206,98000,Far West,Gross output of nonprofit institutions,2019,325162.7
33207,98000,Far West,Less: Receipts from sales of goods and serv...,2019,236897.2

In [58]:
us_expenditures_final.dtypes
#convert year into datetime
us_expenditures_final['year'] = pd.to_datetime(us_expenditures_final['year'],format = '%Y').dt.year

In [59]:
us_expenditures_final.dtypes
us_expenditures_final.head()

,geofips,geoname,description,year,dollars
0,00000,United States,Personal consumption expenditures,1997,5534091.8
1,00000,United States,Goods,1997,2003807.2
2,00000,United States,Durable goods,1997,715529.6
3,00000,United States,Motor vehicles and parts,1997,293082.5
4,00000,United States,Furnishings and durable household equipment,1997,160490.2

In [60]:
#new dataframe
new_df = us_expenditures_final.loc[us_expenditures_final['year'] >= 2010]
new_df

,geofips,geoname,description,year,dollars
18772,00000,United States,Personal consumption expenditures,2010,10177464.5
18773,00000,United States,Goods,2010,3309453.5
18774,00000,United States,Durable goods,2010,1048962.5
18775,00000,United States,Motor vehicles and parts,2010,344466.2
18776,00000,United States,Furnishings and durable household equipment,2010,240924.2
...,...,...,...,...,...
33203,98000,Far West,Financial services and insurance,2019,210726.1
33204,98000,Far West,Other services,2019,220767.1
33205,98000,Far West,Final consumption expenditures of nonprofit ...,2019,88265.6
33206,98000,Far West,Gross output of nonprofit institutions,2019,325162.7
33207,98000,Far West,Less: Receipts from sales of goods and serv...,2019,236897.2

In [61]:
state_abbr.columns
#rename columns
state_df = state_abbr.rename(columns = {'State':'geoname', 'Code':'code'})
# keep only columns needed
state_df2 = state_df[['geoname', 'code']]
state_df2.head()

      geoname code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [68]:
# merge dataframes
us_spend_df = pd.merge(state_df2, new_df, on="geoname")
us_spend_df

,geoname,code,geofips,description,year,dollars
0,Alabama,AL,01000,Personal consumption expenditures,2010,130833.8
1,Alabama,AL,01000,Goods,2010,49895.6
2,Alabama,AL,01000,Durable goods,2010,14402.9
3,Alabama,AL,01000,Motor vehicles and parts,2010,5681.6
4,Alabama,AL,01000,Furnishings and durable household equipment,2010,3141.5
...,...,...,...,...,...,...
12235,Wyoming,WY,56000,Financial services and insurance,2019,2863.3
12236,Wyoming,WY,56000,Other services,2019,1497.5
12237,Wyoming,WY,56000,Final consumption expenditures of nonprofit ...,2019,588.8
12238,Wyoming,WY,56000,Gross output of nonprofit institutions,2019,2920.4
12239,Wyoming,WY,56000,Less: Receipts from sales of goods and serv...,2019,2331.6

In [70]:
# List of categories - 25 categories
description = us_spend_df['description'].unique()
description

array(['Personal consumption expenditures', ' Goods', '  Durable goods',
       '   Motor vehicles and parts',
       '   Furnishings and durable household equipment',
       '   Recreational goods and vehicles', '   Other durable goods',
       '  Nondurable goods',
       '   Food and beverages purchased for off-premises consumption',
       '   Clothing and footwear', '   Gasoline and other energy goods',
       '   Other nondurable goods', ' Services',
       '  Household consumption expenditures (for services)',
       '   Housing and utilities', '   Health care',
       '   Transportation services', '   Recreation services',
       '   Food services and accommodations',
       '   Financial services and insurance', '   Other services',
       '  Final consumption expenditures of nonprofit institutions serving households (NPISHs)',
       '   Gross output of nonprofit institutions',
       '   Less: Receipts from sales of goods and services by nonprofit institutions'],
      dtype=object)

In [76]:
# Import Postgress credentials from config.py
from config import username
from config import password

In [81]:
url = f'postgresql://{username}:{password}@localhost:5432/project2'

# Create an engine object.
engine = create_engine(url, echo=True)

# Create database if it does not exist.
if not database_exists(engine.url):
    create_database(engine.url)
    connection = engine.connect()
else:
    # Connect the database if exists.
    connection = engine.connect()

2021-10-27 19:11:57,731 INFO sqlalchemy.engine.Engine select version()
2021-10-27 19:11:57,732 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-27 19:11:57,734 INFO sqlalchemy.engine.Engine select current_schema()
2021-10-27 19:11:57,735 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-10-27 19:11:57,737 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-10-27 19:11:57,738 INFO sqlalchemy.engine.Engine [raw sql] {}

In [71]:
#connection = engine.connect()
#engine = create_engine('sqlite:///DataFiles/us_spend.sqlite', echo=False)

In [82]:
# save the data into sqlite
us_spend_df.to_sql('us_spend_df', con=engine, if_exists='replace')

2021-10-27 19:12:03,816 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-27 19:12:03,817 INFO sqlalchemy.engine.Engine [generated in 0.00086s] {'name': 'us_spend_df'}
2021-10-27 19:12:03,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-27 19:12:03,825 INFO sqlalchemy.engine.Engine
CREATE TABLE us_spend_df (
	index BIGINT,
	geoname TEXT,
	code TEXT,
	geofips TEXT,
	description TEXT,
	year BIGINT,
	dollars FLOAT(53)
)


2021-10-27 19:12:03,826 INFO sqlalchemy.engine.Engine [no key 0.00113s] {}
2021-10-27 19:12:03,884 INFO sqlalchemy.engine.Engine CREATE INDEX ix_us_spend_df_index ON us_spend_df (index)
2021-10-27 19:12:03,888 INFO sqlalchemy.engine.Engine [no key 0.00631s] {}
2021-10-27 19:12:03,913 INFO sqlalchemy.engine.Engine COMMIT
2021-10-27 19:12:03,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-10-27 19:12:04,191 INFO sqlalchemy.engine.Engine INSERT INTO us_spend_df (index, geoname, code, geofips, description, year, dollars) VALUES (%(index)s, %(geoname)s, %(code)s, %(geofips)s, %(description)s, %(year)s, %(dollars)s)
2021-10-27 19:12:04,192 INFO sqlalchemy.engine.Engine [generated in 0.12434s] ({'index': 0, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': 'Personal consumption expenditures', 'year': 2010, 'dollars': 130833.8}, {'index': 1, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': ' Goods', 'year': 2010, 'dollars': 49895.6}, {'index': 2, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '  Durable goods', 'year': 2010, 'dollars': 14402.9}, {'index': 3, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Motor vehicles and parts', 'year': 2010, 'dollars': 5681.6}, {'index': 4, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Furnishings and durable household equipment', 'year': 2010, 'dollars': 3141.5}, {'index': 5, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Recreational goods and vehicles', 'year': 2010, 'dollars': 3520.0}, {'index': 6, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '   Other durable goods', 'year': 2010, 'dollars': 2059.7}, {'index': 7, 'geoname': 'Alabama', 'code': 'AL', 'geofips': ' 01000', 'description': '  Nondurable goods', 'year': 2010, 'dollars': 35492.7}  ... displaying 10 of 12240 total bound parameter sets ...  {'index': 12238, 'geoname': 'Wyoming', 'code': 'WY', 'geofips': ' 56000', 'description': '   Gross output of nonprofit institutions', 'year': 2019, 'dollars': 2920.4}, {'index': 12239, 'geoname': 'Wyoming', 'code': 'WY', 'geofips': ' 56000', 'description': '   Less: Receipts from sales of goods and services by nonprofit institutions', 'year': 2019, 'dollars': 2331.6})
2021-10-27 19:12:05,054 INFO sqlalchemy.engine.Engine COMMIT

In [83]:
engine.execute("SELECT count(*) from us_spend_df").fetchall()

2021-10-27 19:12:19,644 INFO sqlalchemy.engine.Engine SELECT count(*) from us_spend_df
2021-10-27 19:12:19,646 INFO sqlalchemy.engine.Engine [raw sql] {}

[(12240,)]